version: "3.9"

secrets:
  openai_api_key:
    file: ./secrets_runtime/openai_api_key.txt
  iyzico_secret_key:
    file: ./secrets_runtime/iyzico_secret_key.txt
  smtp_pass:
    file: ./secrets_runtime/smtp_pass.txt
  admin_status_key:
    file: ./secrets_runtime/admin_status_key.txt
  recovery_token_secret:
    file: ./secrets_runtime/recovery_token_secret.txt
  email_hash_salt:
    file: ./secrets_runtime/email_hash_salt.txt

services:
  app:
    secrets:
      - openai_api_key
      - iyzico_secret_key
      - smtp_pass
      - admin_status_key
      - recovery_token_secret
      - email_hash_salt
    environment:
      # App will read either VAR or VAR_FILE.
      - OPENAI_API_KEY_FILE=/run/secrets/openai_api_key
      - IYZICO_SECRET_KEY_FILE=/run/secrets/iyzico_secret_key
      - SMTP_PASS_FILE=/run/secrets/smtp_pass
      - ADMIN_STATUS_KEY_FILE=/run/secrets/admin_status_key
      - RECOVERY_TOKEN_SECRET_FILE=/run/secrets/recovery_token_secret
      - EMAIL_HASH_SALT_FILE=/run/secrets/email_hash_salt
